---
layout: default
---

<div class="index">
	<section>
		{% for post in site.posts %}
       		<div id="postauthor">
		       	<img src="/static/img/head_{{post.author}}.png"><br>
			<a href="/author/{{ post.author }}">{{post.author}}</a>
	       </div>

        	<div class="posts">
		   <span class="title"><a class="title" href="{{post.url | prepend: site.baseurl | prepend: site.url }}">{{post.title}}</a></span>
		    @ {{ post.date | date: "%Y-%m-%d"}}<br/>
		   <span class="srclink">Source: <a class="srclink" href="{{post.src}}" target="_blank">{{post.srcshort}}</a></span>
    		{{ post.excerpt }} 
    {% capture content_words %} 
      {{ post.content | number_of_words }} 
    {% endcapture %} 
    {% capture excerpt_words %} 
      {{ post.excerpt | number_of_words }} 
    {% endcapture %} 
{% if excerpt_words != content_words %}
	<a class="readmore" href="{{post.url | prepend: site.baseurl | prepend: site.url }}">Read More</a>
	{%endif%}
 		<hr>
	        {%endfor%}
	</section>
</div>

